*{
    padding: 5px;
    margin-top: 0px;
    border: 0px;
   
}
.heading{
    display: flex;
    justify-content: center;
    color: white;
    background-color: blue;
}
.data{
    display: flex;
    align-items: center;
    justify-items: center;
}
h1{
    display: flex;
    justify-content: center;
}
#baby{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    height: 500px;
    width: 100%;
    overflow-wrap: initial;
}
.world{
    margin-top: auto;
    margin-bottom: auto;
}
.holder {
    display: grid;
     grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(3, 500px);
    gap: 300px 300px 300px;
    margin-bottom: 0px;
    
    
  }

  @media only screen and (max-width: 500px){
    #baby{
        display: none;
    }
  }
  @media only screen and (max-width: 425px){
      .holder{
          display: flex;
          flex-direction: column;
      }
  }

  [class*="holder"] {
    width: 100%;
  }
  
  


